<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />

  <script type="text/javascript" src="/javascripts/jquery-1.8.2.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="/javascripts/popcorn-complete.min.js"></script>
  <script type="text/javascript" src="/javascripts/base.js"></script>
  <style>
  .wboard { padding: 5px; }
  #slide {
    position: absolute;
    z-index: 1;
    left:680px;
    top:0px;
  }
  #wboard {
    position: absolute;
    z-index: 2;
    left:680px;
    top:320px;
  }
  </style>
</head>
<body>
  <div id="navbar" class="navbar navbar-fixed-top" style="position: absolute;">
    <div class="navbar-inner">
      <div class="container" style="width: auto; padding: 0 20px;">
        <a class="brand" href="#">Lecture Viewer</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Settings
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Video Resolution</a>
                <ul class="dropdown-menu">
                  <li><a id="lowRes" tabindex="-1" href="#">320x240</a></li>
                  <li><a id="midRes" tabindex="-1" href="#">640x480</a></li>
                  <li><a id="720Res" tabindex="-1" href="#">720x540</a></li>
                  <li><a id="highRes" tabindex="-1" href="#">800x600</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Slide Resolution</a>
                <ul class="dropdown-menu">
                  <li><a id="slowRes" tabindex="-1" href="#">320x240</a></li>
                  <li><a id="smidRes" tabindex="-1" href="#">640x480</a></li>
                  <li><a id="shighRes" tabindex="-1" href="#">800x600</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="sidebar">
        <!--a id="hide-images" class="center" style="padding-bottom:5px;" href="javascript:void(0)"><i class="icon-chevron-up"></i> Hide <i class="icon-chevron-up"></i></a-->
        <div id="images" class="">
        </div>
      </div>
      <div class="span8" style="position:relative;">
        <video width="720" height="540" id="video" class="item1 item2" controls> 
          <source src="/video/video.ogv"></source>
          <source src="/video/video.mp4"></source>
          <source src="http://prussian.cs.umass.edu/media/S11/CompSci453/20110302103319/presenterVID/video.ogv"></source>
          <source src="http://prussian.cs.umass.edu/media/S11/CompSci453/20110302103319/presenterVID/video.mp4"></source>
        </video>
        <!--img id="slide" src="" height="180" width="300" class="item1"/>
        <img id="wboard" src="" height="240" width="300" class="item2"/-->

        </br></br>
      </div>
      <div class="span3">
        <textarea type="text" rows="4" style="width:250px;"  id="text" placeholder="Type a note and press Enter"></textarea></br>
        <!--a href="javascript:void(0)" id="textbutton" data-original-title="DO THINGS" class="btn btn-primary btn-large btn-block" type="button">Post</a-->
        <div class="hidden" id="alert-overwrite">
          <div class="alert alert-block alert-error fade in">
            <button class="close close-overwrite" type="button">×</button>
            <h4 class="alert-heading">Warning!</h4>
            <p>You already have a note stored at this time.</p>
            <p>
              <button id="btn-overwrite-note" class="btn btn-danger">Overwite</button>
              <button class="btn close-overwrite">Cancel</button>
            </p>
          </div>
        </div>
        <div class="notes-container">
          <div id="output"></div>
        </div>
      </div>
  </div>
</div>
<footer>
  
</footer>
</body>
</html>