
<div class="span4 well">
	<p class="lead">Search for a lecture:</p>
	<input ng-model="lectureSearch" type="text" placeholder="Type anything...">
</div>
<div class="span6 well">
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label">Title</label>
			<div class="controls">
				<input type="text" ng-model="titleSearch" typeahead="title for title in titles | filter:$viewValue">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Class</label>
			<div class="controls">
				<input type="text" ng-model="classSearch" typeahead="class for class in classes | filter:$viewValue">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Professor</label>
			<div class="controls">
				<input type="text" ng-model="professorSearch" typeahead="prof for prof in professors | filter:$viewValue">
			</div>
		</div>
	</form>
</div>


<!--pagination num-pages="numberOfPages()" current-page="currentPage"></pagination-->


<div class="span12">
	<h4 class="center">Click a lecture to watch</h4>
	<ul class="thumbnails">
	  <li ng-repeat="lecture in lectures | filter:lectureSearch | filter:professorSearch | filter:classSearch | filter:titleSearch | classes:currentUser.classes" class="span4">
	    <div class="thumbnail">
	      <a href="#/watch/{{lecture.id}}">
	      	<img src="{{lecture.image}}">
	      </a>
	      <div class="caption">
	      	<dl>
	      		<dt>Title:</dt>
	      		<dd>{{lecture.title}}</dd>
	      		<dt>Class:</dt>
	      		<dd>{{lecture.class}}</dd>
	      		<dt>Professor:</dt>
	      		<dd>{{lecture.professor}}</dd>
	      		<dt>Date:</dt>
	      		<dd>{{lecture.date}}</dd>
	      	</dl>
	      </div>
	    </div>
	  </li>
	</ul>
</div>
