<div class="hero-unit">
  <h1>Lecture Viewer</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper luctus bibendum. Aliquam adipiscing turpis non massa tempor ac cursus lacus aliquet. Nunc dignissim, lorem vel lacinia auctor, orci felis ultrices dolor, et venenatis neque lorem vel massa. Nulla facilisi. Suspendisse vitae quam neque. Donec varius massa augue, vitae vulputate risus. In sit amet purus urna, quis consectetur diam. Suspendisse hendrerit diam sed lorem suscipit lobortis.</p>
  <hr>
  <p>
    <a href="#/" class="btn btn-primary btn-large">
      Get Started!
    </a>
  </p>
</div>