<div class="span8">
	<div class="hero-unit">
		<h1>Lecture Viewer</h1>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper luctus bibendum. Aliquam adipiscing turpis non massa tempor ac cursus lacus aliquet. </p>
		<hr>
	</div>
</div>
<div class="span3 offset1 well">
	<div ng-show="currentUser">
		<span class="text-info">Logged in as:</span>
		<p class="lead">{{currentUser.email}}<p>
		<hr>
		<button ng-click="logout()" class="btn btn-primary">Logout</button>
	</div>
	<form ng-show="!currentUser" class="form-horizontal">
		<fieldset>
			<legend>Login</legend>
			<p class="text-error">{{errorText}}</p>
			<div class="control-group">
				<input ng-model="email" type="email" placeholder="Email" required>
			</div>
			<div class="control-group">
				<input ng-model="password" type="password" placeholder="Password" required>
			</div>
			<div class="control-group">
				<button ng-click="login()" type="submit" class="btn btn-primary">Sign In</button>
			</div>
		</fieldset>
	</form>
</div>